ion-card-title{
    font-size: 25px;
    color: #ffac41;

}

ion-card-subtitle {
    font-size: 25px;
}


h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 25px;
    color: #ffac41;
}

p {
    font-size: 25px;
}

