<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de Película</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card *ngIf="pelicula">
    <div style="display: flex; align-items: flex-start; gap: 16px;">
      <img [src]="pelicula.img" [alt]="pelicula.nombre" style="width: 75%; height: 1000px; object-fit: contain; border-radius: 8px;" />
      
      <div style="width: 25%;">
        <ion-card-header style="padding: 0;">
          <ion-card-title>{{ pelicula.nombre }}</ion-card-title>
          <ion-card-subtitle>Director: {{ pelicula.autor }}</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content style="padding: 16px 0 0 0;">
          <h3>Descripción: </h3>
          <p>{{ pelicula.descripcion }}</p>
          
          <!-- Botón eliminar -->
          <ion-button expand="block" color="danger" (click)="eliminarPelicula()" style="margin-top: 16px;">
            Eliminar Película
          </ion-button>
        </ion-card-content>
      </div>
    </div>
  </ion-card>

  <ion-card *ngIf="!pelicula">
    <ion-card-content>
      <p>No se encontró la película.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
