<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- Este botón gestiona la navegación 'atrás' automáticamente -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gestor de Péliculas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aplicación desarrollada para el módulo de DAH.</p>
      <p>Esta aplicación permite gestionar una lista de películas, añadir nuevas películas y ver sus detalles.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
