/* Animaci칩n suave para el hover */
ion-card {
  /* Le decimos que cualquier cambio en la propiedad 'transform' dure 0.2 segundos */
  transition: transform 0.2s ease-in-out;
}

/* Cuando el rat칩n est치 encima de la tarjeta (:hover) */
ion-card:hover {
  /* La hacemos un 2% m치s grande */
  transform: scale(1.02);
  cursor: pointer;
}